<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="login()" expand="block" color="danger">Log In</ion-button>

        <ion-item-divider>
          <ion-label position="stacked">
            Or
          </ion-label>
        </ion-item-divider>

        <ion-button (click)="signUp()" expand="block" color="primary">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
