<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="content">
    <ion-card>
      <ion-item lines="none">
        <ion-icon name="mail" slot="start" size="large" color="base">
        </ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-icon name="key" slot="start" size="large" color="dark">
        </ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-card>
    
    <div id="logins">

      <ion-button (click)="login()" expand="block" color="secondary">Log In</ion-button>
      <ion-button (click)="loginWithGoogle()" expand="block" color="danger">Log In With Google</ion-button>
      <ion-button (click)="loginWithFacebook()" expand="block" color="primary">Log In With Facebook</ion-button>

    </div>
      
  </div>
</ion-content>